/* universal selector  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* element selectors  */
body {
    background-color: #d9dcd6;
}

header {
    /* From line 13-46, you're in the header. You can see what I am styling and how I want it to look */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

figure {
    /* This is the large background image you see when opening the website. */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

main {
    /* From line 62-85, you're styling the "meat" of the webpage as mentioned in the comments from the html file. */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main section img {
    max-height: 200px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

aside {
    /* From line 87-113, you're currently styling what is on the side of the webpage. */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    /* From line 115-125, you're styling the footer, which is at the bottom of the page. */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* class selectors  */
.seo {
    /* In the word Horiseon in the h1 tag, you can see that the letters SEO are slightly different from the rest. */
    color: #d9dcd6;
}
.float-left {
    /* This class is used for the imgs in SEO and SMM to make them stay on the left side of the webpage. */
    float: left;
    margin-right: 25px;
}

.float-right {
    /* This class is used for the img in ORM to make it stay on the right side of the webpage to offset all the pictures.
    I chose to use class selector instead of an id selector because I believe that long term, the class selector best fitted the situation. */
    float: right;
    margin-left: 25px;
}